@media screen and (min-device-width: 530px) and (max-device-width: 700px) { 
    .main-img img{
        width: 35rem;
    }
}
@media screen and (min-device-width: 300px) and (max-device-width: 529px) { 
    main{
        margin-left: 4rem;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input[type=email]{
        width: 50%;
        margin-bottom: 1rem;
    }
    input[type=submit]{
        width: 30%;
    }
    .main-img img{
        width: 31rem;
        margin-left: 52px;
    }
}