@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}
body{
    background-color: white;
    font-size: 20px;
}
main{
    min-height: 90vh;
    max-width: 95vh;
    margin: 0 auto;
    margin-top: 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h3{
    color: hsl(0, 0%, 59%);
    font-size: 28px;
    margin-bottom: 1rem;
}
.word{
    color: black;
    font-weight: bolder;
    font-size: 31px;
}
form{
    padding: 1rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
}
.heading p:nth-child(2){
    color: Black;
    font-size: 14px;
}

.footer-img{
    
    width: 5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.footer-img img:hover{
    background-color: skyblue;
    cursor: pointer;
}
footer{
    
    color: hsl(0, 0%, 59%);
    font-size: 13px;
    margin-top: 1rem;
}
input[type=email]{
    width: 100%;
    border-radius:20px ;
    padding: 6px;
    border:1px solid hsl(0, 0%, 59%) ;
}
input[type=submit]{
    background-color: #6a94f0;
    color: white;
    padding: 12px;
    width: 40%;
    border-radius: 20px;
    margin-left: 12px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #8aa6e4;
}
input:focus, textarea:focus{
    background-color: 
    lightyellow;
    }